@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow {
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
}

.haven-temp img {
  border: 3px solid #FC8616;
}

body div.overflow-x-hidden {
  max-width: 100%;
  overflow-x: hidden;
}
